<ul>
  <li><b>Nombre:</b>{{{user.nombre}}}</li>
  <li><b>Apellido:</b>{{{user.apellido}}}</li>
  <li><b>Edad:</b>{{{user.edad}}}</li>
  <li><b>Correo:</b>{{{user.correo}}}</li>
  <li><b>Telefono:</b>{{{user.telefono}}}</li>

</ul>